@charset "UTF-8";
* { margin: 0; padding: 0; }
ul { list-style: none; }
a { text-decoration: none; color: #333;}

$width: 1200px;
@mixin contAlignCenter($el) {
  width: $el;
  margin: 0 auto;
}

header {
  @include contAlignCenter($width);
  overflow: hidden;
  background: #f1f1f1;
  box-sizing: border-box;
  padding: 0 10px;
  a {
    height: 50px;
    line-height: 50px;
  }
  h1 {
    float: left;
    a {
      font-size: 21px;
    }
  }
  #gnb {
    float: right;
    overflow: hidden;
    li {
      float: left;
      a {margin: 0 5px;
        &.router-link-active {
          color: red;
        }
      }
    }
  }
}

main {
  background: #f9f9f9;
  .container{
    @include contAlignCenter($width);
    background: #fcfcfc;
    display: flex;
    height: 100%;
    min-height: calc(100vh - 150px);
    align-items: center;
    justify-content: center;
  }
}

footer {
  background: #f9f9f9;
  height: 100px;
  .inner {
    @include contAlignCenter($width);
    padding: 10px;
    box-sizing: border-box;
    background: #f1f1f1;
  }
}
